html, body {  
  width: 100%;
  height: 100vh;
}

body {
  color: #333;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  font-size-adjust: none;
  font-stretch: normal;
  font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

.bg {
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200vh;
  overflow: hidden;
  background: url("../assets/images/backgrounds/bg-dark.png");
  background-attachment: fixed;
  background-size: auto;
/*  z-index: -1; */
}

.bg-front {
  -webkit-box-shadow: inset 0 0 300px rgba(0,0,0,.5);
          box-shadow: inset 0 0 300px rgba(0,0,0,.5);
  background: url("../assets/images/backgrounds/repnet-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  height: auto;
}

.wrapper-front {
  height: 100%;
  min-height: 100%;
}

.container {
  width: 100%;
  padding: 2em;
}

.align-hack {
  height: 30vh; 
}

.shadow-container {
  padding: 2em;
  background: radial-gradient(50% 50%, rgba(0,0,0,.25), rgba(0,0,0,0));
}

.desc {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  text-transform: uppercase;
  font-size: 22px;
  background: linear-gradient();
}

.desc-title {
  font-size: 38px;
  font-weight: bold;
}

.header {
/*  position: fixed;  */
/*  top: 0; */
/*  height: 80px; */
/*  background: #333; */
  color: #fff;
  min-height: 40px;
  max-height: 40px;
}

.header-title {
  float: left;
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);  
  color: #fff;
  cursor: pointer;
}

.header-title:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.nav {
  float: right;
}

.nav-link {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  border-bottom-color: transparent;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);   
}

.nav-link:hover, .nav-link:focus {
  color: rgba(255,255,255,.5);
  text-decoration: none;
  border-bottom: .25rem solid transparent;
  border-bottom-color: rgba(255,255,255,.5);
  cursor: pointer;
}

.nav-link-active {
  color: #fff;
  border-bottom-color: #fff;
  cursor: default;
  pointer-events: none;
}

.footer {
  margin-top: 20px;
  color: rgba(255,255,255,.5);
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5); 
  display:inline-block;
  vertical-align: 50%;
  width: 100%;
  height: auto;
}

.content {
  /*  border: 1px solid #6aa943;  */
  margin-top: 30px;
  background-color: #fff;
  padding: 2em;
}

.font-bold {
  font-family: Novecentosanswide-Bold, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.form-group {
  margin: 5px;
  padding: 5px;
  color: #505050;
}

.form-group-centered {
  text-align: center;
}

.form-group label, .form-group input {
  display: block;
  width: 100%;
  margin: 5px 0px;
  font-size: 18px;
  font-style: normal;
}

.form-group label {
  font-weight: bold;
}

.form-group a {
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  color: #505050;
  font-size: 18px;
}

.form-group a:hover{
  text-decoration: underline;
  background-color: transparent;
  color: #505050;
}

.list-cell {
  display: none;
}

/*
.form-button {
  line-height: 1.5;
  padding: 0px 10px;
  background-color: #c21d0c;
  color: #fff;
  border: 0; 
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}

.inline-button {
  margin: 5px;
  padding: 0px 10px;
  background-color: #c21d0c;
  border: 0;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 1.5;
  min-width: 100px;
}

.form-button:hover, .inline-button:hover {
  background-color: #e83a28;
}
*/

.btn-lg {
  font-size: 15px;
}

.btn-gr {
  font-family: "Georgia", serif;
  font-style: oblique;
  border: 1px solid #505050;
  color: #fff !important;
  background: #505050;
  border-radius: 24px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
}

.btn-gr:hover {
  border: 1px solid #de3627;
  background: #de3627;
  color: #fff !important;
}

.btn-shadow {
  box-shadow: 0 .1rem .2rem rgba(0,0,0,.5);
}

.e-block {
  padding: 100px 0 100px 0;
}

.e-block-light {
  background: #e8e8e8;
  color: #333;
}

.e-bg-light-texture {
  background: url("../assets/images/backgrounds/bg-light.png");
}

.e-block-light p, .e-block-light h2, .e-block-light h3, .e-block-light h4, .e-block-light h5 {
  color: #333;
}

.e-block-light a, .e-block-light .infoblock a {
  color: #333;
}

.e-block-light a:hover, .e-block-light .infoblock a:hover {
  color: #de3627;
  text-decoration: none;
}

.e-block-centered {
  text-align: center;
  margin: 0 auto;
}

.overlay-form {
  padding: 2em;
}

.dividewhite1 {
  height: 10px; 
}

.dividewhite2 {
  height: 20px; 
}

.dividewhite3 {
  height: 30px; 
}

.dividewhite4 {
  height: 40px; 
}

.dividewhite6 {
  height: 60px; 
}

.dividewhite8 {
  height: 80px;
}

.dividewhite9 {
  height: 90px;
}

.dividewhite10 {
  height: 100px;
}

.subtitle {
  font-style: italic;
  color: #8c8c8c;
}

.subtitle a {
  font-style: normal;
  cursor: pointer;
}

.list-group {
  list-style-type: none;
  padding-left: 0;
}

.list-group li {
  margin-bottom: -1px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  display: block;
  cursor: pointer;
}

.list-group li:hover {
  background-color: #f9f9f9;
}

.list-item-body {
  clear: both;
}

.list-item-date {
  font-weight: bold;
  float: left;
}

.list-item-value {
  float: right;
  font-weight: bold;
  color: #ffffff;
  border-radius: 24px;
  padding-left: 5px;
  padding-right: 5px;
}

.url a, .list-item-body a {
  font-size: 14px;
  font-style: normal;
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

.url a:focus, .url a:hover, .list-item-body a:focus, .list-item-body a:hover {
  color: #23527c;
  text-decoration: underline;
}

.summary-container {
  display: flex;
  flex-direction: row;
}

.positive {
  color: #31b431;
}

.negative {
  color: #d72828;
}

.positive-bg {
  background-color: #31b431;
}

.negative-bg {
  background-color: #d72828;
}
