<template name="Brand_page">
  {{#if Template.subscriptionsReady}}
  <div class="content">
    {{#with brand}}
    <h3>{{name}}</h3>
    <div class="subtitle">
      {{_ 'brands.updatedAt'}}: {{updatedAt}}
      <a class="url" data-event-action="brand-update">{{_ 'brands.update'}}</a>
    </div>
    <div class="form-group">
      {{> Summary_widget .}}
    </div>
    <div class="form-group">
      <a data-event-action="brand-back">{{_ 'common.back'}}</a>
    </div>
    <div class="form-group">
      {{> Tweets_list .}}
    </div>
    {{/with}}
  </div>
  {{/if}}
</template>

