﻿<template name="Login_page">
  <div class="content">
    <form id="login-form">
      <div class="form-group">
        <label for="login-username">{{_ 'accounts.username'}}</label>
        <input id="login-username" tabindex="1" type="text">
      </div>
      <div class="form-group">
        <label for="login-password">{{_ 'accounts.password'}}</label>
        <input id="login-password" tabindex="2" type="password">
      </div>
      <div class="form-group form-group-centered">
        <button id="login-button" class="btn-lg btn-gr btn-block" type="submit" tabindex="3">{{_ 'accounts.login'}}</button>
      </div>
      <div class="form-group">
        <a data-event-action="login-register">{{_ 'accounts.register'}}</a>
      </div>
    </form>
  </div>
</template>
