﻿<template name="Manage_page">
  <div class="content">
    <h3>{{_ 'admin.manage-users'}}</h3>
    {{> Accounts_list}}
    <div class="dividewhite2"></div>
    <h3>{{_ 'admin.settings'}}</h3>
    {{> Settings_list}}
    <div class="dividewhite2"></div>
    <h3>{{_ 'admin.languages'}}</h3>
    {{> Languages_list}}
    <div class="dividewhite2"></div>
    <h3>{{_ 'admin.nnet'}}</h3>
    {{> NNet_settings}}
  </div>
</template>

