<template name="Register_page">
  <div class="content">
    <form id="register-form">
      <div class="form-group">
        <label for="register-username">{{_ 'accounts.username'}}</label>
        <input id="register-username" tabindex="1" type="text">
      </div>
      <div class="form-group">
        <label for="register-password">{{_ 'accounts.password'}}</label>
        <input id="register-password" tabindex="2" type="password">
      </div>
      <div class="form-group">
        <label for="register-email">{{_ 'accounts.email'}}</label>
        <input id="register-email" tabindex="3" type="text">
      </div>
      <div class="form-group form-group-centered">
        <button id="register-button" class="btn-lg btn-gr btn-block" type="submit" tabindex="4">{{_ 'accounts.register'}}</button>
      </div>
    </form>
  </div>
</template>
