<template name="Test_page">
  <div class="content">
    <form id="test-form">
      <div class="form-group">
        <div id="test-pie"></div>
      </div>
      <div class="form-group">
        <label for="test-text">{{_ 'test.text'}}</label>
        <textarea id="test-text" class="form-control" rows="5" tabindex="1"></textarea>
      </div>
      <div class="form-group">
        <button id="test-test" class="btn-lg btn-gr btn-block" type="submit" tabindex="2">{{_ 'test.test'}}</button>
      </div>
    </form>
  </div>
</template>

