﻿<template name="Accounts_list">
  {{#if Template.subscriptionsReady}}
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>{{_ 'accounts.username'}}</th>
          <th>{{_ 'accounts.email'}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each account in accounts}}
          <tr class="list-row">
            <td>{{account.username}}</td>
            <td>{{email account}}</td>
<!--            <td class="list-cell">-->
            <td>
            <div class="list-cell">
              <button id="{{account._id}}" class="btn-xs btn-gr" data-event-action="account-edit">{{_ 'common.edit'}}</button>
              <button id="{{account._id}}" class="btn-xs btn-gr" data-event-action="account-set-password">{{_ 'admin.set-password'}}</button>
              <button id="{{account._id}}" class="btn-xs btn-gr" data-event-action="account-remove">{{_ 'common.remove'}}</button>
            </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="form-group">
      <a data-event-action="account-add">+ {{_ 'admin.add-user'}}</a>
    </div>
  </div>
  {{/if}}
</template>

