<template name="Account_edit_form">
  {{#with account}}
  <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
    <div class="row">
      <div class="width-40">
        <h3 class="uppercase e-block-centered">{{_ 'admin.edit-user'}}</h3>
        <div class="dividewhite2"></div>
        <form id="account-edit-form" class="overlay-form">
          <div class="form-group">
            <label for="account-edit-username">{{_ 'accounts.username'}}</label>
            <input id="account-edit-username" class="form-control" tabindex="1" type="text" value="{{username}}">
          </div>
          <div class="form-group">
            <label for="account-edit-email">{{_ 'accounts.email'}}</label>
            <input id="account-edit-email" tabindex="2" type="text" value="{{email}}">
          </div>
          <div class="form-group form-group-centered">
            <button id="account-edit-button" class="btn-lg btn-gr btn-block" type="submit" tabindex="3">{{_ 'common.save'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/with}}
</template>

