<template name="Account_remove_form">
  {{#with account}}
  <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
    <div class="row">
      <div class="width-40">
        <h3 class="uppercase e-block-centered">{{_ 'admin.remove-user'}}</h3>
        <div class="dividewhite2"></div>
        <form id="account-remove-form" class="overlay-form">
          <div class="form-group">
            <p>{{_ 'admin.confirm-remove-account' username}}</p>
          </div>
          <div class="form-group form-group-centered">
            <button id="account-remove-button" class="btn-lg btn-gr btn-block" type="submit" tabindex="1">{{_ 'common.remove'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/with}}
</template>

