<template name="Account_add_form">
  <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
    <div class="row">
      <div class="width-40">
        <h3 class="uppercase e-block-centered">{{_ 'admin.add-user'}}</h3>
        <div class="dividewhite2"></div>
        <form id="account-add-form" class="overlay-form">
          <div class="form-group">
            <label for="account-add-username">{{_ 'accounts.username'}}</label>
            <input id="account-add-username" class="form-control" tabindex="1" type="text" placeholder="User">
          </div>
          <div class="form-group">
            <label for="account-add-email">{{_ 'accounts.email'}}</label>
            <input id="account-add-email" class="form-control" tabindex="2" type="text" placeholder="user@example.com">
          </div>
          <div class="form-group form-group-centered">
            <button id="account-add-button" class="btn-lg btn-gr btn-block" type="submit" tabindex="3">{{_ 'common.add'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

