<template name="Account_set_password_form">
  {{#with account}}
  <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
    <div class="row">
      <div class="width-40">
        <h3 class="uppercase e-block-centered">{{_ 'admin.set-password'}}</h3>
        <div class="dividewhite2"></div>
        <form id="account-set-password-form" class="overlay-form">
          <div class="form-group">
            <label for="account-set-password">{{_ 'accounts.new-password'}}</label>
            <input id="account-set-password" class="form-control" tabindex="1" type="password">
          </div>
          <div class="form-group form-group-centered">
            <button id="account-set-password-button" class="btn-lg btn-gr btn-block" type="submit" tabindex="2">{{_ 'common.save'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/with}}
</template>

