<template name="Brand_add_form">
  <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
    <div class="row">
      <div class="width-40">
        <h3 class="uppercase e-block-centered">{{_ 'brands.add-brand'}}</h3>
        <div class="dividewhite2"></div>
        <form id="brand-add-form" class="overlay-form">
          <div class="form-group">
            <label for="brand-add-name">{{_ 'brands.brand'}}</label>
            <input id="brand-add-name" class="form-control" tabindex="1" type="text" placeholder="{{_ 'common.repnet'}}">
          </div>

          <div class="form-group">
            <label for="brand-add-lang">{{_ 'common.language'}}</label>
            <select id="brand-add-language" class="form-control" tabindex="2">
            {{#each language in languages}}
              <option value="{{language.code}}">{{language.name}}</option>
            {{/each}}
            </select>
          </div>

<!--          <div class="form-group">
            <label for="brand-add-exceptions">{{_ 'brands.exceptions'}}</label>
            <textarea id="brand-add-exceptions" class="form-control" rows="5" tabindex="3"></textarea>
          </div> -->

          <div class="form-group">
            <label for="brand-add-enabled">{{_ 'common.enabled'}}</label>
            <input id="brand-add-enabled" class="form-control" type="checkbox" tabindex="3" checked="">
          </div>

          <div class="form-group form-group-centered">
            <button id="brand-add-button" class="btn-lg btn-gr btn-block" type="submit" tabindex="4">{{_ 'common.add'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

