<template name="Brand_edit_form">
  {{#with brand}}
  <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
    <div class="row">
      <div class="width-40">
        <h3 class="uppercase e-block-centered">{{_ 'brands.edit-brand'}}</h3>
        <div class="dividewhite2"></div>
        <form id="brand-edit-form" class="overlay-form">
          <div class="form-group">
            <label for="brand-edit-name">{{_ 'brands.brand'}}</label>
            {{name}}
            <!--<input id="brand-edit-name" class="form-control" type="text" placeholder="RepNet">-->
          </div>

          <div class="form-group">
            <label for="brand-edit-lang">{{_ 'common.language'}}</label>
            <!--<select id="brand-add-language" class="form-control">
            {{#each language in languages}}
              <option value="{{language.code}}">{{language.name}}</option>
            {{/each}}
            </select>-->
            {{language lang}}
          </div>

<!--          <div class="form-group">
            <label for="brand-edit-exceptions">{{_ 'brands.exceptions'}}</label>
            <textarea id="brand-edit-exceptions" class="form-control" rows="5" tabindex="1">{{exceptions}}</textarea>
          </div>  -->

          <div class="form-group">
            <label for="brand-edit-enabled">{{_ 'common.enabled'}}</label>
            <!--<input id="brand-edit-enabled" class="form-control" type="checkbox" tabindex="2" checked="">-->
            {{#if enabled}}
              <input id="brand-edit-enabled" class="form-control" type="checkbox" tabindex="1" checked="">
            {{else}}
              <input id="brand-edit-enabled" class="form-control" type="checkbox" tabindex="1">
            {{/if}}
          </div>

          <div class="form-group form-group-centered">
            <button id="brand-edit-button" class="btn-lg btn-gr btn-block" type="submit" tabindex="2">{{_ 'common.save'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/with}}
</template>

