﻿<template name="Brands_list">
  {{#if Template.subscriptionsReady}}
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>{{_ 'common.name'}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each brand in brands}}
          <tr class="list-row">
            <td><a href="/app/brands/{{brand._id}}">{{brand.name}}</a></td>
            <td>
              <div class="list-cell">
                <button id="{{brand._id}}" class="btn-xs btn-gr" data-event-action="brand-edit">{{_ 'common.edit'}}</button>
                <button id="{{brand._id}}" class="btn-xs btn-gr" data-event-action="brand-remove">{{_ 'common.remove'}}</button>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="form-group">
      <a data-event-action="brand-add">+ {{_ 'brands.add-brand'}}</a>
    </div>
  </div>
  {{/if}}
</template>

