<template name="Language_clear_form">
  {{#with language}}
  <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
    <div class="row">
      <div class="width-40">
        <h3 class="uppercase e-block-centered">{{_ 'admin.clear-stems'}}</h3>
        <div class="dividewhite2"></div>
        <form id="language-clear-form" class="overlay-form">
          <div class="form-group">
            <p>{{_ 'admin.confirm-clear-language' name}}</p>
          </div>
          <div class="form-group form-group-centered">
            <button id="language-clear-button" class="btn-lg btn-gr btn-block" type="submit" tabindex="1">{{_ 'common.clear'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/with}}
</template>

