﻿<template name="Languages_list">
  {{#if Template.subscriptionsReady}}
    <form>
      <div class="form-group">
        <label for="languages-list-language">{{_ 'common.language'}}</label>
        <select id="languages-list-language" class="form-control">
          {{#each language in languages}}
            <option value="{{language.code}}">{{language.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label>{{_ 'admin.stem-count'}}</label>
        {{count}}
      </div>
      <div class="form-group">
        <input type="file" id="languages-list-input">
        <button data-event-action=languages-list-import class="btn-gr btn-shadow">{{_ 'admin.import-words'}}</button>
        <button data-event-action=languages-list-clear class="btn-gr btn-shadow">{{_ 'common.clear'}}</button>
      </div>
    </form>
  {{/if}}
</template>

