﻿<template name="Nav">
  <div class="header">
    <a class="header-title font-bold" href="/">{{_ 'common.repnet'}}</a>
    <div class="nav">
      {{#if home}}
        <a class="nav-link nav-link-active" href="/">{{_ 'common.main'}}</a>
      {{else}}
        <a class="nav-link" href="/">{{_ 'common.main'}}</a>
      {{/if}}
      {{#if about}}
        <a class="nav-link nav-link-active" href="/about">{{_ 'common.about'}}</a>
      {{else}}
        <a class="nav-link" href="/about">{{_ 'common.about'}}</a>
      {{/if}}
      {{#if currentUser}}
        {{#if isInRole 'admin'}}
          {{#if manage}}
            <a class="nav-link nav-link-active" href="/app/manage">{{_ 'admin.manage'}}</a>
          {{else}}
            <a class="nav-link" href="/app/manage">{{_ 'admin.manage'}}</a>
          {{/if}}
        {{/if}}
        {{#if app}}
          <a class="nav-link nav-link-active" href="/app">{{_ 'common.app'}}</a>
        {{else}}
          <a class="nav-link" href="/app">{{_ 'common.app'}}</a>
        {{/if}}
        <a class="nav-link" data-event-action="nav-logout">{{_ 'accounts.logout'}}</a>
      {{else}}
        {{#if loginregister}}
          <a class="nav-link nav-link-active" href="/login">{{_ 'accounts.login'}}</a>
        {{else}}
          <a class="nav-link" href="/login">{{_ 'accounts.login'}}</a>
        {{/if}}
      {{/if}}
      {{#if test}}
        <a class="nav-link nav-link-active" href="/test">{{_ 'common.test'}}</a>
      {{else}}
        <a class="nav-link" href="/test">{{_ 'common.test'}}</a>
      {{/if}}
    </div>
  </div>
</template>

