<template name="NNet_clear_form">
  <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
    <div class="row">
      <div class="width-40">
        <h3 class="uppercase e-block-centered">{{_ 'nnet.export-import'}}</h3>
        <div class="dividewhite2"></div>
        <form id="nnet-clear-form" class="overlay-form">
<!--          <div class="form-group">
            <p>{{_ 'nnet.confirm-clear'}}</p>
          </div>  -->
          <div class="form-group">
            <textarea id="nnet-clear-body" class="form-control" rows="5" tabindex="1">{{body}}</textarea>
          </div>
          <div class="form-group form-group-centered">
            <button id="nnet-clear-button" class="btn-lg btn-gr btn-block" type="submit" tabindex="2">{{_ 'common.save'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

