<template name="NNet_settings">
  {{#if Template.subscriptionsReady}}
  <form>
    {{#with network}}
    <div class="form-group">
      <label>{{_ 'nnet.stat'}}</label>
      {{status}}
    </div>
    <div class="form-group">
      <label>{{_ 'nnet.iterations'}}</label>
      {{iterations}}
    </div>
    <div class="form-group">
      <label>{{_ 'nnet.error'}}</label>
      {{error}}
    </div>
    <div class="form-group">
      <input type="file" id="nnet-settings-input">
      <button data-event-action=nnet-settings-train class="btn-gr btn-shadow">{{_ 'nnet.train'}}</button>
      <button data-event-action=nnet-settings-clear class="btn-gr btn-shadow">{{_ 'nnet.export-import'}}</button>
    </div>
    {{/with}}
  </form>
  {{/if}}
</template>

