<template name="Settings_list">
  {{#if Template.subscriptionsReady}}
    <form id="settings-form">
    {{#with settings}}
<!--      <div class="form-group">
        <label for="settings-gmail-user">{{_ 'settings.gmail-user'}}</label>
        <input id="settings-gmail-user" class="form-control" tabindex="1" type="text" placeholder="user@google.com" value="{{gmail_user}}">
      </div>
      <div class="form-group">
        <label for="settings-gmail-password">{{_ 'settings.gmail-password'}}</label>
        <input id="settings-gmail-password" class="form-control" tabindex="2" type="password" value="{{gmail_password}}">
      </div> -->
      <div class="form-group">
        <label for="settings-consumer-key">{{_ 'settings.consumer-key'}}</label>
        <input id="settings-consumer-key" class="form-control" tabindex="1" type="text"  value="{{consumer_key}}">
      </div>
      <div class="form-group">
        <label for="settings-consumer-secret">{{_ 'settings.consumer-secret'}}</label>
        <input id="settings-consumer-secret" class="form-control" tabindex="2" type="text" value="{{consumer_secret}}">
      </div>
      <div class="form-group">
        <label for="settings-access-token">{{_ 'settings.access-token'}}</label>
        <input id="settings-access-token" class="form-control" tabindex="3" type="text" value="{{access_token}}">
      </div>
      <div class="form-group">
        <label for="settings-access-secret">{{_ 'settings.access-secret'}}</label>
        <input id="settings-access-secret" class="form-control" tabindex="4" type="text" value="{{access_secret}}">
      </div>
      <div class="form-group">
        <button data-event-action="settings-save" tabindex="5" class="btn-gr btn-shadow">{{_ 'common.save'}}</button>
      </div>
    {{/with}}
    </form>
  {{/if}}
</template>

