<template name="Summary_widget">
  {{#if Template.subscriptionsReady}}
    {{#if count}}
      <div class="form-group">
        <label for="summary-widget-mode">{{_ 'brands.graph'}}</label>
        <select id="summary-widget-mode" class="form-control">
          <option value="0">{{_ 'brands.reputation'}}</option>
          <option value="1">{{_ 'brands.ratio'}}</option>
          <option value="2">{{_ 'brands.history'}}</option>
        </select>
      </div>
    {{/if}}
  {{/if}}
  
  <div id="summary-graph"></div>

  {{#if Template.subscriptionsReady}}
    {{#if count}}
      <div class="form-group">
        <div class="row">
          <div class="col-md-6 text-center">
            {{#if positive reputation}}
              <label class="positive">{{reputation}}%</label>
            {{else}}
              <label class="negative">{{reputation}}%</label>
            {{/if}}
            <br>{{_ 'brands.reputation'}}
          </div>
          <div class="col-md-6 text-center">
            <label>{{mentions}}</label>
            <br>{{_ 'brands.mentions'}}
          </div>
        </div>
      </div>
    {{/if}}
  {{/if}}
</template>

