<template name="Tweets_list_item">
  <li class="tweets-list-item" id="{{_id}}">
      <span class="list-item-date">{{date}}</span>
      {{#if positive}}
        <span class="list-item-value positive-bg">{{value}}%</span>
      {{else}}
        <span class="list-item-value negative-bg">{{value}}%</span>
      {{/if}}
      <div class="list-item-body">
        {{#autolink}}{{text}}{{/autolink}}
      </div>
  </li>
</template>
