<template name="Tweet_edit_form">
  {{#with tweet}}
  <div class="e-block e-block-light e-bg-light-texture" data-stellar-background-ratio="0.5">
    <div class="row">
      <div class="width-40">
        <h3 class="uppercase e-block-centered">{{_ 'tweets.details'}}</h3>
        <div class="dividewhite2"></div>
        <form id="brand-edit-form" class="overlay-form">
          <div class="form-group">
            <label for="tweet-edit-date">{{_ 'tweets.date'}}</label>
            {{date}}
          </div>

          <div class="form-group">
            <label for="tweet-edit-message">{{_ 'tweets.message'}}</label>
            <div class="url">{{#autolink}}{{text}}{{/autolink}}</div>
          </div>

          <div class="form-group">
            <label for="tweet-edit-url">{{_ 'tweets.url'}}</label>
            <div class="url">{{#autolink}}{{url}}{{/autolink}}</div>
          </div>

          <div class="form-group">
            <label for="tweet-edit-value">{{_ 'tweets.value'}}</label>
            <input id="tweet-edit-value" class="form-control" type="number" min="0" max="100" value="{{value}}">
          </div>

          <div class="form-group">
            <label for="tweet-edit-disable">{{_ 'tweets.disable'}}</label>
            {{#if disabled}}
              <input id="tweet-edit-disable" class="form-control" type="checkbox" tabindex="1" checked="">
            {{else}}
              <input id="tweet-edit-disable" class="form-control" type="checkbox" tabindex="1">
            {{/if}}
          </div>

          <div class="form-group form-group-centered">
            <button id="tweet-edit-button" class="btn-lg btn-gr btn-block" type="submit" tabindex="2">{{_ 'common.save'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/with}}
</template>

