<template name="Tweets_list">
  {{#if Template.subscriptionsReady}}
    {{#if count}}
      <div class="form-group">
         <label for="tweets-list-mode">{{_ 'tweets.mode'}}</label>
        <select id="tweets-list-mode" class="form-control">
          {{#if enabled}}
            <option value="1">{{_ 'tweets.enabled'}}</option>
            <option value="2" selected>{{_ 'tweets.disabled'}}</option>
          {{else}}
            <option value="1" selected>{{_ 'tweets.enabled'}}</option>
            <option value="2">{{_ 'tweets.disabled'}}</option>
          {{/if}}
        </select>
      </div>
      <div class="form-group">
        <label for="tweets-list-filter">{{_ 'tweets.filter'}}</label>
        <select id="tweets-list-filter" class="form-control">
          {{#if last10}}
            <option value="1" selected>{{_ 'tweets.last-10'}}</option>
            <option value="2">{{_ 'tweets.all'}}</option>
          {{else}}
            <option value="1">{{_ 'tweets.last-10'}}</option>
            <option value="2" selected>{{_ 'tweets.all'}}</option>
          {{/if}}
        </select>
      </div>
      <div class="form-group">
        <ul class="list-group">
          {{#each tweet in tweets}}
            {{> Tweets_list_item tweet}}
          {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/if}}
</template>

