﻿<template name="App_body">
  <head>
    <link href="assets/css/novecento-font.css" rel="stylesheet" type="text/css" media="screen" />
    
	  <script>
		  $(function(){
			  $.stellar({
				  horizontalScrolling: false,
				  verticalOffset: 40
			  });
		  });
    </script>
  </head>
  <body>
    <div class="bg" data-stellar-background-ratio="0.5">asd</div>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="row">
              {{> Nav}}
            </div>
            <div class="row">
              {{> Template.dynamic template=main}}
            </div>
            <div class="row">
              {{> Footer}}
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
    {{> overlay}}
  </body>
</template>  
  
