﻿<template name="App_front">
  <head>
    <link href="assets/css/novecento-font.css" rel="stylesheet" type="text/css" media="screen" />

  </head>
  <body>
    <div class="bg bg-front">asd</div>
      <div class="wrapper wrapper-front">
        <div class="container">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="row">
                {{> Nav}}
              </div>

            <div class="row align-hack"></div>
            <div class="row">
              <div class="shadow-container">
                <div class="desc">
                  <p class="desc-title">{{_ 'common.desc-title'}}</p>
                  <p>{{_ 'common.desc'}}</p>
                  <button class="btn-lg btn-gr btn-shadow" data-event-action="front-start">  {{_ 'common.start'}}  </button>
                </div>
              </div>  
            </div>
            
            <div class="row align-hack"></div>
            <div class="row">
              {{> Footer}}
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </body>  
</template>  
  
